<div class="container">
    <div class="section-title text-center center">
        <h2>Om oss</h2>
        <hr />
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Historia</h4>
            <p>
                Vi är en väletablerad blomsterbutik som funnits på samma plats i många år.
                Idag driver Lilian Lindqvist Blomsterhörnan tillsammans med sin man Kjell Lindqvist sedan 11 år tillbaka med hjälp av sina 2 duktiga tjejer i butiken!
                Ni hittar oss mitt i centrum på Stockholmsvägen i Mariestad.
            </p>
            <h4>Butiken</h4>
            <p>
                Här har vi ett stort och härligt utbud av snittblommor, blomsterarrangemang, krukväxter, smycken, godis och oljor, inredning mm.
                Vi hjälper dig med bl.a. företagsblommor, förmedlingar, begravning, gåbort blommor, bröllop och även den enkla vardagsblomman.
            </p>
            <h4>Mål</h4>
            <p>
                Genom bästa tänkabara servicen tillsammans med ett stort utbud på blommor och inredning hoppas vi vara den självklara blomsteraffären i Mariestad.
                Genom att hänga med i trender och skylta om ofta vill vi inspirera och sprida glädje!
            </p>
            <h4>Interflora</h4>
            <p>
                Vi är medlemmar i kedjan Interflora.
                Vi skickar blommor till hela Sverige och även över hela världen.
                Hos oss kan man även köpa presentkort som går att använda i hela Sverige.
            </p>

        </div>

        <div class="col-md-6">
            <img src="~/images/4309.jpg" class="img-responsive img-circle">
            <p style="margin-top:0;"><i>Emelie Gustavsson, Lilian Lindqvist, Marie Broberg, Kjell Lindqvist.</i></p>

        </div>
    </div>



</div>