
<header class="text-center" name="home">
    <div class="intro-text text-shadow">
        <img src="~/images/skanna0001.jpg" class="img-rounded" style="width: 15%;" />
        <h1>Välommen till<br /><strong>Blomsterhörnan</strong></h1>
        <p>Din blomsterhandel i Mariestad</p>
        <a href="#about-section" class="btn btn-default btn-lg page-scroll">Läs mer</a>
    </div>
</header>