<div class="container">
    <div class="section-title center">
        <h2>Utbud</h2>
        <hr>
        <div class="clearfix"></div>
        <p>Här går det att se vad vi har för olika slags varor i vår butik.</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Blommor</h4>
            <p>
                Hos oss finner ni alltid fräsha färdiga buketter och även stort utbud av lösa snittblommor att välja mellan.<br />
                Vi har nyplanterade arrangemang samt gröna och blommande krukväxter.<br />
                Vi ger dig tips och råd om hur du ska få dina blommor att frodas!
            </p>
            <div class="col-md-4 col-sm-6">
                <img class="img-rounded utbud-img" src="~/images/4137.jpg" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-rounded utbud-img" src="~/images/4150.jpg" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-rounded utbud-img" src="~/images/4139.jpg" />
            </div>
        </div>

        <div class="col-md-12">
            <h4>Inredning</h4>
            <p class="utbud-p">
                Här kan ni hitta inredning från t.ex. DBKD, Miljögården, Wikholm form, Intersteel, Voluspa, Jimsch, Mr Plant, Mitt&Ditt och Light and Living.<br />
                Det finns choklad och te från Gooslander & Årechoklad. 
                Vi har mycket populära oljor & dressingar till matlagning från Sverigeskafferiet.<br />
                Hos oss finns även Smycken från Atsrid & Agnes som är i rostfritt stål.
                Här finns med andra ord lite smått och gott av varje!
            </p>
            <div class="col-md-4 col-sm-6">
                <img class="img-rounded utbud-img" src="~/images/15292813_10154744669562329_1127536307_o.jpg" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-rounded utbud-img" src="~/images/sverigeskaff.jpg" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-rounded utbud-img" src="~/images/voluspa.jpg" />
            </div>
            <div class="col-md-offset-2 col-md-4 col-sm-6">
                <img class="img-rounded utbud-img" src="~/images/15303810_10154744672362329_2094228450_o.jpg" />
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-rounded utbud-img" src="~/images/4166.jpg" />
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <h4>Bröllop</h4>
            <p>
                Ska ni gifta er? Hoppas då att vi får hjälpa just er med allt ifrån bordsdekorationer, näbbuketter, corsage och brudbukett.
            </p>
            <img class="img-rounded utbud-img" src="~/images/1653.jpg" />
        </div>
        <div class="col-md-6 col-sm-6">
            <h4>Begravning</h4>
            <p>Att ta farväl av någon är alltid svårt och jobbigt. Vi hjälper gärna till med att skapa något personligt och vackert.</p>
            <img class="img-rounded utbud-img" src="~/images/7093.jpg" />
        </div>
    </div>
</div>